.hero{

    grid-column: full-start / full-end;
    height: 490px;
    overflow: hidden;
    margin-top: 2rem;
    @media screen and (max-width: 690px) {
    height: 240px;
    margin: 2rem;

    }

    &__img {

        @media (min-width: 700px) {
        height: 490px;
            
        }
            img {
            height: 100%;
            width: 100%;
            object-position: 0 0;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                display: block;
                background-color: red;
            }
        }

    }

    &__cover {
    	
    	background-color: $secondary-color;

    	
    }

    &__content {

    	position: absolute;
	    top: 0;
	    width: 100%;
	    height: 490px;
        @media (max-width: 580px) {
            top: -100px;
        }
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    z-index: 2;
	    direction: rtl;

    }

    h2 {

    	font-size: 3.3rem;
	    background: rgb(17 25 72 / 82%);
	    padding: 2rem;
	    border-radius: 25px 1px;
	    width: 474px;
        @media (max-width: 580px) {
            
            font-size: 2em;
            width: 274px;

        }
	    box-shadow: 2px 1px 11px 1px rgb(100 204 243 / 26%);

	    a {
	    	color: #fff;
	    	text-decoration: none;
	    	&:hover {

	    	text-decoration: underline;
	    	text-decoration-color: $secondary-color;

	    	}
	    }
    }

   &__overlay {
    	width: 100%;
	    height: 100%;
	    background-color: rgb(17 25 72 / 53%);
	    position: absolute;
	    top: 0;
	    right: 0;
	    z-index: 2;
    }
    
}


.owl-dots{

	position: absolute;
    top: 60vh;
    @media (max-width: 580px) {

        top: 48vh;
    }

    right: 47%;
}

.owl-carousel button.owl-dot{

        border: 2px solid #9400d3;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        margin-left: 1rem;
        box-shadow: 0px 0px 6px 1px #64ccf3cf;
        position: relative;
    }

.owl-dot.active{

        background-color: #010b13b8;
        &::after{

            content: "";
		    position: absolute;
		    top: 7px;
		    left: 6.8px;
		    width: 8px;
		    height: 8px;
		    background-color: #64ccf3;
		    border-radius: 50%;
            box-shadow: 1px 1px 0px #000000a8;


        }
    }




 .owl-theme .owl-dots .owl-dot span {

 	width: 15px !important;
    height: 15px !important;
    border: 3px solid #111948;
    position: relative;
    left: -6.9px;
    top: -5px;
    background: transparent !important;


 }

 .owl-carousel.owl-loaded{

     direction: ltr;
     display: grid !important;

 }