.header{

    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: [full-start] minmax(2rem,1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-start]) [center-end] minmax(2rem, 1fr) [full-end];

    h1 {
    	grid-column: center-start/center-end;
		color: #4F4F4F;
		font-size: 3.5rem;
		text-align: center;
		border-bottom: 1px solid #64ccf359;
		width: fit-content;
		margin: auto;
		margin-top: 2rem;
		padding-bottom: 7px;
    }

    &__img-cover {

    	grid-column: full-start / full-end;
    	height: 490px;
		@media (max-width: 600px) {
			height: 250px;
		}
    	margin-top: 32px;

		img {
			height: 100%;
			@media (max-width: 600px) {
			height: 100%;

			}
		    width: 100%;
		    object-position: 0 0;
		    border-radius: 3px;
		    box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 42%);
		}
    }

    &__info {

    	grid-column: center-start / center-end;
    	display: flex;
	    justify-content: center;
	    margin-top: 2.5rem;
	    flex-wrap: wrap;
	    &-icon {

	    	display: flex;
	    	align-items: center;

	    	@media (max-width: 650px) {
	    		
	    		display: grid;
			    justify-items: center;
			    text-align: center;

	    	}

	    	span, a {

	    		font-size: 1.6em;
			    font-weight: 100;
			    margin-right: 5px;
			    width: 109px;
			    position: relative;	
			    left: 3px;
    			color: #4F4F4F;
    		}

    		a{text-decoration-color: #64CCF3}

	    }
    }


}   

.main {

	grid-column: center-start / center-end;
	width: 85%;
	@media (max-width: 600px) {
	width: 95%;
		
	}
    margin: auto;
    margin-top: 3rem;
}

section.tags {

	margin-top: 1rem;
    border-top: 1px solid #eee;
    padding-top: 3px;

    display: flex;
    align-items: center;
    justify-content: space-between;
	@media (max-width: 650px) {
		flex-direction: column;
	}

    div.tag {

    margin-top: 1.5rem;

    }

    span {

    	font-size: 2rem;
	    margin-left: 1rem;
	    background-color: #64CCF3;
	    padding: 0.5rem 1.6rem;
	    border-radius: 3px;
	    margin-bottom: 15px;
	    display: inline-block;


    	a {
    		color: $primary-color;
    		text-decoration: none;
    		&:hover {text-decoration: underline}
    	}
    }



    .source {
    	font-size: 2rem;
    	@media (max-width: 650px) {
    	margin-top: 2rem;

    	}

    	a {
    	color: #0b0f2c;
    		
    	}
    }



}



section.readMore{

	h2 {

		 font-size: 3.1rem;
   		 margin-top: 3rem;
   		 color: #4F4F4F;
		border-bottom: 1px solid #64ccf338;
		margin-bottom: 1.5rem;


   		 span {

   		 	    color: #3e93b3;
   		 }
	}

	.cards {

		display: grid;
	    grid-template-columns: 1fr 1fr 1fr;
	    @media (max-width: 650px) {
	    grid-template-columns: 1fr;
		flex-direction: column;
		}
	    gap: 1rem;
	}

	.card_img {

		height: 200px;
	}

	h3 {

		font-size: 1.7rem;
	    position: relative;
	    bottom: 115px;
	    background: #00000082;
	    padding: 4px 17px;
	    margin: 0px 17px;
	    border-radius: 3px;
	    box-shadow: 1px 2px 4px #000000b3;

	    a {color: #fff; text-decoration: none; &:hover {text-decoration-color: $secondary-color !important; text-decoration: underline}}
	}

img {

	height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 3px;
    box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 42%);
}

}
